{:paths ["src" "resources"]
 :deps {com.lambdaisland/launchpad {:mvn/version "0.55.248-alpha"}
        com.lambdaisland/cli         {:mvn/version "1.31.133"}
        com.lambdaisland/shellutils  {:mvn/version "0.3.20"}
        borkdude/rewrite-edn         {:mvn/version "0.5.9"}
        com.lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                                      :git/sha "b0d1fe78a49390535a8f1fec8a4507b73d746359"}
        babashka/tools.bbuild  {:git/url "https://github.com/babashka/tools.bbuild"
                                :git/sha "4493ba83664bdbfcaf932845fbd2f2183cdb7c1d"}}}
