({:filename "secrets.edn",
  :content-type "application/octet-stream",
  :size 2637,
  :uuid "17bb980b-df9f-45b1-b988-fcb8fa5c19cc",
  :location
  "/home/arne/clj-projects/filebak/17bb980b-df9f-45b1-b988-fcb8fa5c19cc",
  :upload-time 1710656196})
