{:deps {}

 :cache-blockers #{lambdaisland.ornament}

 :builds
 {:filebak
  {:target          :browser
   :modules         {:main {:entries [casa.squid.filebak]}}
   :output-dir      "resources/public/ui"
   :asset-path      "/ui"
   :devtools        {:repl-pprint true
                     :watch-dir   "resources/public"}
   :closure-defines {goog.DEBUG                 false
                     goog.debug.LOGGING_ENABLED true}}}}
