body {
  font-family: Roboto, sans-serif;
  background-color: hsla(60, 90%, 95%);
  font-size: 1.2rem;
}

form.upload {
  border: 3px solid hsla(0, 80%, 75%);
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: hsla(0, 50%, 80%)
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead th {
  border-bottom: 1px solid hsla(60, 50%, 70%);
}

td, th {
  text-align: left;
  padding: 0.75em 0.25em;
}

tr:nth-child(2n) td {
  background-color: hsla(80, 80%, 85%);
}

th:not(:first-child), td:not(:first-child) {
  text-align: right;
}

#flash {
  border: 3px solid hsla(200, 80%, 85%);
  border-radius: 5px;
  padding: 16px;
  background-color: hsla(200, 50%, 70%);
  margin-bottom: 32px;
}

a {
 color: hsla(200, 80%, 30%);
}

#empty-message {
text-align: center;
padding: 1.5rem;
font-size: 1.5em;
}

.file-table-row .buttons {
  float: right;
}
